@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
* {
	font-family: 'Poppins', sans-serif;
}
.bakso {
    font-weight: 800;
    font-size: 30px;
    line-height: 23px;
    text-align: center;
}
.sate {
    font-weight: 600;
    font-size: 23px;
    line-height: 23px;
    text-align: center;
}
.kucing {
    font-weight: 800;
    font-size: 33px;
    color: #FFD30E;
}
.kucingg {
    font-weight: 900;
    font-size: 60px;
    color: #5773FF;
}
.kucinggg {
    font-weight: 900;
    font-size: 93px;
    color: #5773FF;
    text-align: center;
}
.seblak {
    font-weight: 900;
    font-size: 120px;
    color: #FFD30E;
}
.seblak2 {
    font-weight: 900;
    /* font-size: 222px; */
    color: #FFD30E;
}
.meong {
    font-weight: 500;
    font-size: 20px;
    color: #2b2b2b;
}
.meongg {
    font-weight: 700;
    font-size: 30px;
    color: #FFD30E;
    text-align: center;
}
.text {
	border-right: 5px solid;
	white-space: nowrap;
    width: 30%;
    padding: auto;
	overflow: hidden;
	animation: typing 2s steps(15), cursor .4s step-end infinite alternate;
}
@keyframes cursor {
	78% {border-color: transparent;}
}
@keyframes typing {
	from {width: 0;}
}
.section-padding {
	padding: 100px 0;
}
.siyongmai {
    position: relative;
}
.cincau {
    position: relative;
    width: 100%;
}
.mangga {
    width: 100%;
}
.apel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: -3%;
    left: 0;
    width: 100%;
    height: 100%;
}
.siyongmai img {
    width: 100%;
    height: 100%;
}
.siwan {
	font-size: 25px;
	font-weight: 700;
	letter-spacing: 3px;
}
.button-selengkapnya {
    background-color: #FFD30E;
    color: #ffffff;
    border-radius: 3px;
    padding: 12px 23px;
    transition: 0.3s background-color;
	text-decoration: none;
    cursor: pointer;
}
.button-selengkapnya:hover {
    background-color: #ffffff;
	color: #FFD30E;
}
.service-icon {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}
.containeer {
    margin-top: 50px;
}
.ya {
    text-decoration: none;
    color: #2b2b2b;
}
.ya:hover {
    color: #5773ff81;
}
.cardd {
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.082);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: default;
}
.carddd {
    border-radius: 10px;
    box-shadow: 0 8px 16px #ffd30e81;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}
.cardd:hover {
    transform: scale(1.01);
    box-shadow: 0 8px 16px #5773ff81;
}
.carddd:hover {
    transform: scale(1.01);
    box-shadow: 0 8px 16px #2b2b2b81;
}
.up-tittle {
    font-weight: 700;
}
.counter-card {
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.082);
    padding: 20px;
    margin-bottom: 20px;
    cursor: default;
}
.counter-icon {
    font-size: 48px;
    color: #5773FF;
}
.counter-value {
    font-size: 36px;
    font-weight: 600;
    margin-top: 12px;
    animation: lompat 3s infinite;
}
@keyframes lompat {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(1.08);
    }
    40% {
      transform: translateY(-8px);
    }
    60% {
      transform: translateY(-8px);
    }
}
/* F.A.Q */
.tanya{
    max-width: 1200px;
    margin: 0 auto;
}
.tanyaa button{
    width: 100%;
    padding: 20px 33px;
    font-size: 22px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2b2b2b;
    color: #fff;
    border-radius: 9px;
    border: none;
    outline: none;
    cursor: pointer;
}
.tanyaa p{
    font-size: 18px;
    max-height: 0;
    opacity: 0;
    line-height: 1.5;
    overflow: hidden;
    transition: all 0.6s ease;
}
.d-arrow{
    transition: transform 0.5s ease-in ;
    color: #fff;
}
.tanyaa p.show{
    max-height: 200px;
    opacity: 1;
    padding:0px 15px 30px 15px;
	padding: 20px 33px;
}
.tanyaa button .d-arrow.rotate{
    transform: rotate(180deg);
}
/* Page Form Register */
.register-form {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    animation: fadeIn 0.5s ease-out;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.form-group {
    margin-bottom: 12px;
}
/* Page Panduan */
.navbary {
    background-color: #007bff;
    color: white;
}
.upp {
    background: url('../AAAAAAAAAAA/img/bg-panduan.png') center/cover;
    color: white;
    text-align: center;
    padding: 100px 20px;
    margin-bottom: 50px;
}
.cardy {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.082);
    border-radius: 10px;
    overflow: hidden;
    margin: 33px 0;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: default;
}
.cardy:hover {
    transform: scale(1.01);
    box-shadow: 0 8px 16px #5773ff81;
}
.cardy-body {
    padding: 23px;
}
/* Halaman 404 */
.lalalala{
    font-size: 20px;
    font-weight: 400;
}
/* Post */
.containerr {
    margin: 50px;
}
.post {
    background-color: #ffffff;
    border-radius: 6px;
    padding: 30px;
    box-shadow: 0px 0px 10px 0px rgba(90, 90, 90, 0.1);
    margin-bottom: 30px;
}
.post-title {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 10px;
    margin-top: 20px;
}
.post-meta {
    color: #696969;
    margin-bottom: 23px;
}
.post-content {
    line-height: 1.6;
    font-size: 18px;
    text-align: justify;
}
.related-posts {
    display: flex;
    justify-content: space-between;
}
.related-post {
    flex: 0 0 calc(33.333% - 20px);
    max-width: calc(33.333% - 20px);
    margin-bottom: 20px;
}
.related-post img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}
